{% load requests_monitor_utils %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Requests Monitor</title>
    <link href="{{ STATIC_URL }}requests_monitor/css/app.css" type="text/css" rel="stylesheet" charset="utf-8" />
    <script src="{{ STATIC_URL }}requests_monitor/js/app.js" type="text/javascript" charset="utf-8"></script>
{% verbatim %}
    <script id="tpl-requests" type="text/template">
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th class="date">Date</th>
            <th class="method">Method</th>
            <th class="status">Status</th>
            <th class="path">Path</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    </script>
    <script id="tpl-requests-request" type="text/template">
<tr{{#request_class}} class="{{request_class}}"{{/request_class}} id="{{key}}">
    <td class="date">{{formated_date}}</td>
    <td class="method">{{method}}</td>
    <td class="status">{{status}}</td>
    <td class="path">{{path}}</td>
</tr>
    </script>
    <script id="tpl-request" type="text/template">
<div class="title"></div>
<div class="content"></div>
<div class="toolbar"><ul></ul></div>
    </script>
    <script id="tpl-request-title" type="text/template">
<h3>{{{title}}}</h3>
    </script>
    <script id="tpl-request-content" type="text/template">
<div class="scroll">{{{content}}}</div>
    </script>
    <script id="tpl-request-response" type="text/template">
<div class="response"><iframe src="r/{{key}}/content" frameborder="0"><Your browser not supported iframe!</iframe></div>
    </script>
    <script id="tpl-request-template-source" type="text/template">
<div class="scroll"><code>{{source}}</code></div>
    </script>
    <script id="tpl-request-panel-nav" type="text/template">
<li>
    <a data-hash="{{hash}}" class="active" title="{{title}}">{{nav_title}}<br /><small>{{nav_subtitle}}</small></a>
</li>
    </script>
    <script id="tpl-settings" type="text/template">
<form>
    <label>Show last <input type="text" name="requests_count" /> requests</label><br />
    <fieldset>
        <legend>Filters</legend>
        <label><input type="checkbox" name="ajax_only" /> Ajax only</label>
        <label>Request method <input type="text" name="request_method" /></label>
        <label>Response status code <input type="text" name="request_status_code" /></label>
    </fieldset>
</form>
    </script>
{% endverbatim %}
</head>
<body>
    <div id="navbar">
        <div class="navbar-inner">
            <ul class="request"></ul>
            <ul class="settings"></ul>
        </div>
    </div>

    <div id="container"></div>
</body>
</html>
