<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var sendRequestInterval;
            function setRequestInterval(delay) {
                delay = parseInt(delay);
                if (!isNaN(delay) && delay > 1) {
                    clearInterval(sendRequestInterval);
                    sendRequestInterval = setInterval(function() {
                        $.ajax({
                            url: "/?a=1&b=2",
                            type: "POST",
                            data: {
                                'c': 3,
                                'd': 4
                            },
                            timeout: 1000
                        });
                    }, delay);
                }
            }
            $("input[type=text]").keyup(function(){
                if ($("input[type=checkbox]").attr("checked") !== undefined)
                    setRequestInterval($(this).val());
            });
            $("input[type=checkbox]").change(function(){
                if ($(this).is(":checked"))
                    setRequestInterval($("input[type=text]").val())
                else
                    clearInterval(sendRequestInterval);
            });
        });
    </script>
</head>
<body>
<div style="width: 100%; text-align: center; padding-top: 100px;">
    <h1>send ajax request <input type="checkbox" value="1000" size="4" style="text-align: right;" /><br />
    delay: <input type="text" value="1000" size="4" style="text-align: right;" /> ms</h1>
</div>
</body>
</html>
